features/iot-plugins-feature/iot-base-plugin-feature/org.wso2.carbon.device.mgt.iot.feature/src/main/resources/conf/devicemgt-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeviceManagementConfigurations" type="DeviceManagementConfigurations" />

  <xs:complexType name="DeviceManagementConfigurations" >
    <xs:sequence>
      <xs:element type="ControlQueuesConfig" name="ControlQueues"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ControlQueuesConfig">
    <xs:sequence>
      <xs:element type="ControlQueue" name="ControlQueue"  maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ControlQueue">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:boolean" name="Enabled"/>
      <xs:element type="xs:string" name="ControlClass"/>
      <xs:element type="xs:string" name="Protocol"/>
      <xs:element type="xs:string" name="ServerURL"/>
      <xs:element type="xs:short" name="Port"/>
      <xs:element type="xs:string" name="Username"/>
      <xs:element type="xs:string" name="Password"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>