features/device-mgt-iot-feature/org.wso2.carbon.device.mgt.iot.feature/src/main/resources/conf/devicemgt-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeviceManagementConfigurations" type="DeviceManagementConfigurations" />

  <xs:complexType name="DeviceManagementConfigurations" >
    <xs:sequence>
      <xs:element type="ControlQueuesConfig" name="ControlQueues"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ControlQueuesConfig">
    <xs:sequence>
      <xs:element type="ControlQueue" name="ControlQueue"  maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ControlQueue">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:boolean" name="Enabled"/>
      <xs:element type="xs:string" name="ControlClass"/>
      <xs:element type="xs:string" name="Protocol"/>
      <xs:element type="xs:string" name="ServerURL"/>
      <xs:element type="xs:short" name="Port"/>
      <xs:element type="xs:string" name="Username"/>
      <xs:element type="xs:string" name="Password"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>